* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #eaa9a9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../assets/background1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

 .title {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  color: green;
  border: 2px solid green;
}

.titlepg {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2%;
}

.the-logic {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2%;
  background-color: gray;
  text-align: center;
  padding: 8%;
}

.video {
  width: auto;
  height: 300px;
  text-align: center;
  padding: 50px 0 0 0;
  border: 5px solid black;
  margin: 5%;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../assets/bg-section2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.teammemberCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teamimg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
}

.formParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: url(../assets/bg-section3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../assets/bg-section3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 50px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #eaa9a9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100px;
}

.socialhandles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.socialhandles > li {
  list-style: none;
}

.footernav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}